
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>The Wacul Blog</title>
  <meta name="author" content="WACUL INC.">

  
  <meta name="description" content="おとなになるか、プログラマになるか">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://blog.wacul.co.jp">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/atom.xml" rel="alternate" title="The Wacul Blog" type="application/atom+xml">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="./javascripts/lib/jquery.min.js"%3E%3C/script%3E'))</script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>

  <meta property="og:title" content="The Wacul Blog" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="おとなになるか、プログラマになるか" />
  <meta property="og:url" content="http://blog.wacul.co.jp/index.html" />
  
  <meta property="og:image" content="http://blog.wacul.co.jp/images/header-bg.png" />
  
  <meta property="og:site_name" content="The Wacul Blog" />
  
          
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@wacul_jp">

  <meta name="twitter:title" content="The Wacul Blog" />
  <meta name="twitter:description" content="おとなになるか、プログラマになるか" />

  <meta name="twitter:image" content="http://blog.wacul.co.jp/images/header-bg.png" />


  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

  

  
<noscript>
<iframe src="//www.googletagmanager.com/ns.html?id=GTM-WVB25R"
        height="0" width="0" style="display:none;visibility:hidden">
</iframe>
</noscript>
<script>
  (
    function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event:'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    }
  )
  (window, document, 'script', 'dataLayer', 'GTM-WVB25R');
</script>


</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/">The Wacul Blog</a></h1>
  
    <h2>おとなになるか、プログラマーになるか</h2>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/blog/archives">Archives</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div class="blog-index">
  
  
  
  <div class="post-indexes">
    <a href="/blog/2014/06/23/angular-form/" class="mask"></a>
<div class="post-cell">
  <div class="post-cell-inner">
    <div class="post-image"><img src="/images/2014-06-23-angular-form/title.jpg" height="250"/></div>
    <div class="post-info">
      <div class="post-date">
        23th.
        
        Jun. 2014.
      </div>
      <div class="post-title"><a href="/blog/2014/06/23/angular-form/">AngularJSで楽々、フォームを作ってみよう</a></div>
      <div class="post-content">AngularJSのformディレクティブは強力なバリデーション機能を提供します。
以下は基本的な使用例です。

1
2
3
4
5
&lt;form name=&quot;form&quot;&gt;&lt;!&#8211; 1 &#8211;&gt;
  &lt;input type=&quot;text&quot; name=&quot;firstName&quot; ng-model=&quot;user.firstName&quot; required&gt;&lt;!&#8211; 2 &#8211;&gt;
  &lt;span ng-show=&quot;form.firstName.$error.required&quot;&gt;何も入力されていません。&lt;/span&gt;&lt;!&#8211; 3 &#8211;&gt;
  &lt;button ng-disabled=&quot;foo.$invalid&quot; ng-click=&quot;submit()&quot;&gt;submit&lt;/button&gt;&lt;!&#8211; 4 &#8211;&gt;
&lt;/form&gt;



番号ごとに説明すると &hellip;</div>
    </div>
    <div style="clear:both;"></div>
    <a href='/blog/2014/06/23/angular-form/'><div class="post-more"><img src="/images/more.png"/></div></a>
  </div>
</div>

  </div>
  
  
  <div class="post-indexes">
    <a href="/blog/2014/06/11/mongo-ngram/" class="mask"></a>
<div class="post-cell">
  <div class="post-cell-inner">
    <div class="post-image"><img src="/images/2014-06-11-mongo-ngram/title.jpg" height="250"/></div>
    <div class="post-info">
      <div class="post-date">
        11th.
        
        Jun. 2014.
      </div>
      <div class="post-title"><a href="/blog/2014/06/11/mongo-ngram/">Node.js と MongoDB で n-gramを使って全文検索</a></div>
      <div class="post-content">n-gram による検索

現在、自社開発を行っているプロジェクトではサーバサイドはnode.jsで開発しています。
そして、DBはMongoDBを採用し、node.jsからMongoDBへのアクセスは mongooseを使用しています。

今回、DBに保存されている「お客の名前」を検索したいという要求が生じました。
検索条件として、名前の途中でもヒットするようにする必要があります。
例えば「あい」で検索した場合、以下のような名前がヒットします。


あいかわたろう
あいだはなこ
やまだあいこ
おちあいじろう



また、上記の例で「あいだ」で検索した場合は以下の名前がヒットします。


あいだはなこ



このような検索を実現するために、n-gramによる検索を実装しました。
n-gramは文字列を nの長さで１文字ずつずらして切り出して保存します。


n = 2 のとき 「あいかわたろう」という文字列
「あい」「いか」「かわ」「わた」「たろ」「ろう」



今回は、2文字以上の文字列で検索がヒットするようにしたいので、n = 2 の bi-gramを実装します。 &hellip;</div>
    </div>
    <div style="clear:both;"></div>
    <a href='/blog/2014/06/11/mongo-ngram/'><div class="post-more"><img src="/images/more.png"/></div></a>
  </div>
</div>

  </div>
  
  
  <div class="post-indexes">
    <a href="/blog/2014/06/05/tableview-upper-space/" class="mask"></a>
<div class="post-cell">
  <div class="post-cell-inner">
    <div class="post-image"><img src="/images/2014-06-05-tableview-upper-space/title.jpg" height="250"/></div>
    <div class="post-info">
      <div class="post-date">
        05th.
        
        Jun. 2014.
      </div>
      <div class="post-title"><a href="/blog/2014/06/05/tableview-upper-space/">UITableViewの一番上に隙間が出来てしまう件</a></div>
      <div class="post-content">こんにちは、wacul開発メンバーの kyoh です。
WWDC2014でSwiftが発表された時、
恋に落ちる音を聞いた気がします。

さて、今日は、最近iPadアプリの開発中に遭遇した不可解な事象と、その解決方法について書いてみようと思います。

UITableView の狭き門、険しい道

iOSアプリといえば凡そ避けることのできない「UITableView」ですが、一癖も二癖もあるそれに悩まされるのはiOS開発の登竜門となっているようです。
今回私も、そんな登竜門の狭い門柱に引っかかって苦しめられました。

謎の隙間が発生する

UITableViewController ベースの画面を作り、UINavigationControll に push した時のことです。
表示された画面には、ナビゲーションバーとセクションヘッダとの間に、意図しない隙間が表示されていました。



正体不明！

REVEALというツールなども駆使して、この隙間は一体なんぞやと探ってみました。が・・・


UINavigationBar にははみ出すようなビューは含まれていない。 &hellip;</div>
    </div>
    <div style="clear:both;"></div>
    <a href='/blog/2014/06/05/tableview-upper-space/'><div class="post-more"><img src="/images/more.png"/></div></a>
  </div>
</div>

  </div>
  
  
  <div class="post-indexes">
    <a href="/blog/2014/05/30/ruby-motion/" class="mask"></a>
<div class="post-cell">
  <div class="post-cell-inner">
    <div class="post-image"><img src="/images/2014-05-30-ruby-motion/title.jpg" height="250"/></div>
    <div class="post-info">
      <div class="post-date">
        30th.
        
        May. 2014.
      </div>
      <div class="post-title"><a href="/blog/2014/05/30/ruby-motion/">RubyMotionを業務でのアプリ開発に使ってみた感想</a></div>
      <div class="post-content">こんにちわ。いまワカルでは、美容院向けのiPadアプリ &ldquo;clulu&rdquo; を開発中です。
テストも一旦終了し、最初のバージョンをApp Storeに申請したところです。

美容院では、お客様の予約管理を紙で行っているところがほとんどです。cluluは、そんな紙での管理方法から極力インターフェースを変えることなく、予約管理をiPadで行えるシステムです。また管理された情報を元に、リアルタイムに空き枠を検索・予約できるフォームを自分の美容院のホームページに設置できます。



サービスの詳細については、リリース後詳しくお伝えするとして、今回はiPad版開発で使った、
RubyMotion について書きたいと思います。

なぜ RubyMotion を選んだか

iOSアプリ開発環境にはおおまかに


ObjectiveC(Xcode)
RubyMotion
Titanium, PhoneGap等、HTML,JSベースのもの



があります。

まず、cluluは予約表の操作感を最適化したかったため、 &hellip;</div>
    </div>
    <div style="clear:both;"></div>
    <a href='/blog/2014/05/30/ruby-motion/'><div class="post-more"><img src="/images/more.png"/></div></a>
  </div>
</div>

  </div>
  
  
  <div class="post-indexes">
    <a href="/blog/2014/05/21/angular-cors-postmessage/" class="mask"></a>
<div class="post-cell">
  <div class="post-cell-inner">
    <div class="post-image"><img src="/images/2014-05-21-angular-cors-postmessage/title.png" height="250"/></div>
    <div class="post-info">
      <div class="post-date">
        21th.
        
        May. 2014.
      </div>
      <div class="post-title"><a href="/blog/2014/05/21/angular-cors-postmessage/">AngularJSでのCORSな通信をpostMessageに置き換える</a></div>
      <div class="post-content">あなたは突然AngularJSでCORSでxhrな通信を行いたくなりました。
通信時に独自のヘッダーを付けたいのでpostMessageを使う必要がありましたが、
すでに$http、$resourceサービスを使った結構な量のソースコードがあります。
これを修正するのは骨が折れそうな作業です。

しかし、心配は無用です。
このような場合$provide.decoratorが強力な武器となってくれます。
$provide.decoratorを使うことで、すでに書いたソースコードに触れることなく対象のサービスの挙動を変更することができます。

本記事では、まず$provide.decoratorの概要と簡単なチュートリアルについて説明し、
次に$httpBackendを置き換えてpostMessageを使ったxhr通信を行う方法を紹介します。

$provide.decoratorの概要

$provide.decorator
はすでに定義されているサービスの生成をフックして新しいサービスに置き換えます。

簡単なチュートリアル

と言ってもこれだけではなんのことかわからないので、 &hellip;</div>
    </div>
    <div style="clear:both;"></div>
    <a href='/blog/2014/05/21/angular-cors-postmessage/'><div class="post-more"><img src="/images/more.png"/></div></a>
  </div>
</div>

  </div>
  
  
  <div class="post-indexes">
    <a href="/blog/2014/05/14/nodejs-library/" class="mask"></a>
<div class="post-cell">
  <div class="post-cell-inner">
    <div class="post-image"><img src="/images/2014-05-14-nodejs-library/title.jpg" height="250"/></div>
    <div class="post-info">
      <div class="post-date">
        14th.
        
        May. 2014.
      </div>
      <div class="post-title"><a href="/blog/2014/05/14/nodejs-library/">waculで使用しているnode.jsのライブラリ</a></div>
      <div class="post-content">node.jsでの開発

現在、waculで自社開発を行っているプロジェクトにおいて、サーバ側はnode.jsで構築しています。
webフレームワークはExpressを、DBはmongoDBを採用しています。

今回は、我々が開発で利用しているJavaScriptのライブラリを紹介したいと思います。

CoffeeScript

CoffeeScript自体を紹介するまでもありませんが、綺麗に簡潔に書けるのは良いことです。

nodemon

ソースを変更したときに、node.jsのアプリケーションを起動しなおしてくれます。
CoffeeScriptにも対応しています。

mongoose

node.jsからmongoDBにアクセスするためのライブラリです。

mpath

mongoDBで使うパス指定でJavaSciptのオブジェクトにアクセスできます。

AWS SDK for JavaScript

プロジェクトではAWSのSQSやS3などを使用していますが、それらに簡単にアクセスするため、amazon謹製のnode.js用のライブラリを使用しています。

node- &hellip;</div>
    </div>
    <div style="clear:both;"></div>
    <a href='/blog/2014/05/14/nodejs-library/'><div class="post-more"><img src="/images/more.png"/></div></a>
  </div>
</div>

  </div>
  
  
  <div class="post-indexes">
    <a href="/blog/2014/05/07/nslayoutconstraint/" class="mask"></a>
<div class="post-cell">
  <div class="post-cell-inner">
    <div class="post-image"><img src="/images/2014-05-07-nslayoutconstraint/title.jpg" height="250"/></div>
    <div class="post-info">
      <div class="post-date">
        07th.
        
        May. 2014.
      </div>
      <div class="post-title"><a href="/blog/2014/05/07/nslayoutconstraint/">iOSアプリで Programmable な自動レイアウト(NSLayoutConstraint)</a></div>
      <div class="post-content">はじめまして、プログラマチームの kyoh です。
最近は津軽金山焼(PV:YouTube)に惚れてます。

背景

ワカルでは現在、RubyMotionを使ってiPadアプリを開発中です。
プロジェクトとして「InterfaceBuilderを使わない」という選択をした結果、より自由度の高い NSLayoutConstraint の魅力がわかってきました。
これはもったいない、世の中的にももっと使ってもらえるように、とこの記事を書くに至った次第です。

Objective-C はちょっと・・・というスタンスなので、ソースコードは全てRubyで書いています。すみません。

結論

InterfaceBuilderを使わない変態算数が好きなプログラマーは NSLayoutConstraint.constraintWithItem&hellip; をガシガシ使おう！CSS風に書ける快感を皆で味わおう！
メソッド名が長い？記述が読みにくい？それならLayoutExpressでどうだっ！（自薦）

NSLayoutConstraint の機能

NSLayoutConstraint &hellip;</div>
    </div>
    <div style="clear:both;"></div>
    <a href='/blog/2014/05/07/nslayoutconstraint/'><div class="post-more"><img src="/images/more.png"/></div></a>
  </div>
</div>

  </div>
  
  
  <div class="post-indexes">
    <a href="/blog/2014/04/30/bacon-js/" class="mask"></a>
<div class="post-cell">
  <div class="post-cell-inner">
    <div class="post-image"><img src="/images/2014-04-30-bacon-js/title.jpg" height="250"/></div>
    <div class="post-info">
      <div class="post-date">
        30th.
        
        Apr. 2014.
      </div>
      <div class="post-title"><a href="/blog/2014/04/30/bacon-js/">Canvasのお絵かきに bacon.js を使ってみた</a></div>
      <div class="post-content">イベント処理の憂鬱とbacon.js

業務でちょっとしたお絵かきツールをjsで作る機会がありました。
マウスのイベントを拾ってcanvasに描画する、それだけの処理なのですが、イベントのハンドリングとペンの状態などが絡むと、結構メンテがしづらいソースになってしまいます。

これを綺麗に書く方法はないか、調べている中で、bacon.js というライブラリを見つけました。試してみたところなかなか良さそうだったのでご紹介します。

bacon.js はFRP(Functional Reactive Programming) という概念をjsで実装したもので、僕なりの理解だと、


変化するイベントや値 (EventStream, Property) をオブジェクトとして扱うことができる
イベントや値の間に関係を持たせることができる 例: b = a + 1
元の値が変わると、関係する値も自動的に更新される 例: a が 1 &ndash;> 2 に変化すると、bは 2 &ndash;> 3 に変化する (Reactive)
値の変換を関数として記述できる (Functional) &hellip;</div>
    </div>
    <div style="clear:both;"></div>
    <a href='/blog/2014/04/30/bacon-js/'><div class="post-more"><img src="/images/more.png"/></div></a>
  </div>
</div>

  </div>
  
  
  <div class="post-indexes">
    <a href="/blog/2014/03/10/mamp_wimax/" class="mask"></a>
<div class="post-cell">
  <div class="post-cell-inner">
    <div class="post-image"><img src="/images/2014-03-10-mamp_wimax/title.jpg" height="250"/></div>
    <div class="post-info">
      <div class="post-date">
        10th.
        
        Mar. 2014.
      </div>
      <div class="post-title"><a href="/blog/2014/03/10/mamp_wimax/">WiMAX接続のMacのMAMP環境でメールが送信できない</a></div>
      <div class="post-content">事件

WiMAXで接続し、MacでMAMPを立ち上げ、PHPからmb_send_mailを実行したところ、宛先にメールが届かない。
その後、別のインターネット環境に接続したところ、今まで送信しようとしたメールが一斉に届いた。

原因

多くのプロバイダはOutbound Port25 Blocking をしており、メール送信に25番ポートを利用することができない。
利用していたUQ WiMAXもその制限があった。
送ることができなかったメールはMacで標準に搭載されているpostfixのキューに溜まる。

解決方法

gmailのサーバへリレーして送信する。

1
2
3
4
5
6
7
&gt; sudo vim /etc/postfix/main.cf

relayhost = [smtp.gmail.com]:587
smtp_use_tls = yes
smtp_sasl_auth_enable = yes
smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd &hellip;</div>
    </div>
    <div style="clear:both;"></div>
    <a href='/blog/2014/03/10/mamp_wimax/'><div class="post-more"><img src="/images/more.png"/></div></a>
  </div>
</div>

  </div>
  
  
  <div class="post-indexes">
    <a href="/blog/2014/03/08/first-post/" class="mask"></a>
<div class="post-cell">
  <div class="post-cell-inner">
    <div class="post-image"><img src="/images/2014-01-15-first-post/title.jpg" height="250"/></div>
    <div class="post-info">
      <div class="post-date">
        08th.
        
        Mar. 2014.
      </div>
      <div class="post-title"><a href="/blog/2014/03/08/first-post/">ワカルプログラマチームのブログスタート</a></div>
      <div class="post-content">はじめまして、ワカルプログラマチームのtutumingといいます。
パン作りが趣味です。

株式会社ワカル は、WebサイトのUI改善提案から制作、アプリの開発などまで、幅広く手がけている会社です。

プログラマチームはまだ３人ですが、少しずつ情報を発信して、皆様(特に技術者の方々)にワカルについて少しでも興味をもっていただければと思い、ブログを始めることにしました。

まだまだ規模も小さく青いですが、それぞれに芯を持った個性的なメンバーが揃っているチームです。

日常の仕事の中でのTipsや、知見などを公開していく場にしたいと思っていますので、どうぞよろしくお願いします。
</div>
    </div>
    <div style="clear:both;"></div>
    <a href='/blog/2014/03/08/first-post/'><div class="post-more"><img src="/images/more.png"/></div></a>
  </div>
</div>

  </div>
  
  <div class="pagination">
    
    <a href="/blog/archives">過去の記事</a>
  </div>
</div>

    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; WACUL INC. All Rights Reserved.
</p>

</footer>
  



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js#appId=212934732101925&xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>





  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = '//platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>





</body>
</html>
