@media only screen and (min-width: 1024px) {
  /* line 5, ../../sass/post.scss */
  body > header, body > footer, #main {
    max-width: 992px;
    width: 992px;
  }

  /* line 10, ../../sass/post.scss */
  #main {
    margin: auto;
  }

  /* line 15, ../../sass/post.scss */
  #content > * {
    float: left;
  }
  /* line 19, ../../sass/post.scss */
  #content > div {
    max-width: 650px;
    width: 650px;
  }
  /* line 24, ../../sass/post.scss */
  #content > aside.sidebar {
    max-width: 342px;
    width: 342px;
    padding: 0 0 0 20px !important;
    box-sizing: border-box;
  }
}
