/* ------------------------------------------------------ */
/* line 7, ../../sass/sp_layout.scss */
img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* ------------------------------------------------------ */
/* line 15, ../../sass/sp_layout.scss */
a {
  tap-highlight-color: rgba(255, 255, 255, 0.5);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
}

/* line 25, ../../sass/sp_layout.scss */
a:hover,
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, input[type="image"]:hover,
button:hover, *.button:hover,
a:active,
input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, input[type="image"]:active,
button:active, *.button:active {
  filter: alpha(opacity=100) !important;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) !important;
  opacity: 1 !important;
}

/* ------------------------------------------------------ */
/* line 33, ../../sass/sp_layout.scss */
body {
  font-size: 14px;
}

/* ------------------------------------------------------ */
/* line 39, ../../sass/sp_layout.scss */
.wrap-master {
  max-width: none;
  min-width: 100px;
  position: relative;
  overflow: hidden;
}

/* line 45, ../../sass/sp_layout.scss */
.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* ------------------------------------------------------ */
/* line 53, ../../sass/sp_layout.scss */
.pc-group {
  display: none;
}

/* line 56, ../../sass/sp_layout.scss */
.pc-group.inline {
  display: none;
}

/* line 59, ../../sass/sp_layout.scss */
.sp-group {
  display: block;
}

/* line 62, ../../sass/sp_layout.scss */
.sp-group.inline {
  display: inline;
}

/* ------------------------------------------------------ */
/* line 69, ../../sass/sp_layout.scss */
.btn,
a.btn {
  padding: 15px 30px 13px;
  height: auto;
  line-height: normal;
}
/* line 75, ../../sass/sp_layout.scss */
.btn .icon.arrow-btn,
a.btn .icon.arrow-btn {
  right: 20px;
  margin-top: -4px;
}

/* ------------------------------------------------------ */
/* line 151, ../../sass/sp_layout.scss */
.icon {
  background-image: url(/images/common/sp_icons.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 151, ../../sass/sp_layout.scss */
  .icon {
    background-image: url(/images/common/icons.png);
    background-size: auto 25px;
    -webkit-background-size: auto 25px;
  }
}
/* line 154, ../../sass/sp_layout.scss */
.icon.arrow-prev {
  background-position: -10px -9px;
  width: 5px;
  height: 8px;
}
/* line 157, ../../sass/sp_layout.scss */
.icon.arrow-next {
  background-position: -35px -9px;
  width: 5px;
  height: 8px;
}
/* line 160, ../../sass/sp_layout.scss */
.icon.arrow-pagetop {
  background-position: -56px -8px;
  width: 14px;
  height: 9px;
}
/* line 163, ../../sass/sp_layout.scss */
.icon.sp-menu {
  background-position: -80px -6px;
  width: 15px;
  height: 14px;
}
/* line 166, ../../sass/sp_layout.scss */
.icon.plus {
  background-position: -108px -8px;
  width: 9px;
  height: 9px;
}
/* line 169, ../../sass/sp_layout.scss */
.icon.arrow-btn {
  background-position: -135px -9px;
  width: 5px;
  height: 8x;
}
/* line 172, ../../sass/sp_layout.scss */
.icon.minus {
  background-position: -158px -8px;
  width: 9px;
  height: 9x;
}
/* line 175, ../../sass/sp_layout.scss */
.icon.dot {
  background-position: -187px -12px;
  width: 1px;
  height: 1x;
}
/* line 178, ../../sass/sp_layout.scss */
.icon.arrow-next-gray {
  background-position: -282px -9px;
  width: 12px;
  height: 7px;
}
/* line 181, ../../sass/sp_layout.scss */
.icon.arrow-next-bold {
  background-position: -282px -9px;
  width: 12px;
  height: 7px;
}
/* line 184, ../../sass/sp_layout.scss */
.icon.updown {
  background-position: -253px -3px;
  width: 19px;
  height: 19px;
}

/* .icon */
/* ------------------------------------------------------ */
/* line 192, ../../sass/sp_layout.scss */
table.basic.section-group {
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
}
/* line 199, ../../sass/sp_layout.scss */
table.basic th,
table.basic .inner {
  padding: 12px 19px 10px;
}
/* line 203, ../../sass/sp_layout.scss */
table.basic th {
  padding-left: 0;
  min-width: 99px;
  white-space: normal;
}
/* line 209, ../../sass/sp_layout.scss */
table.basic .inner {
  padding-right: 0;
}
/* line 212, ../../sass/sp_layout.scss */
table.basic .inner:before, table.basic .inner:after {
  width: 10px;
  height: 14px;
}

/* ------------------------------------------------------ */
/* line 223, ../../sass/sp_layout.scss */
ul.basic li:before {
  margin-top: 0.55em;
}

/* ------------------------------------------------------ */
/* line 238, ../../sass/sp_layout.scss */
.top-nav-inbody-group,
.footer-nav-group {
  border-top: solid 1px #ddd;
  font-size: 0;
  display: block;
}
/* line 243, ../../sass/sp_layout.scss */
.top-nav-inbody-group li,
.footer-nav-group li {
  border-bottom: solid 1px #ddd;
  width: 50%;
  font-size: 14px;
  text-align: center;
  display: inline-block;
}
/* line 252, ../../sass/sp_layout.scss */
.top-nav-inbody-group li.recruiting, .top-nav-inbody-group li.contact, .top-nav-inbody-group li.sitemap,
.footer-nav-group li.recruiting,
.footer-nav-group li.contact,
.footer-nav-group li.sitemap {
  border-left: solid 1px #ddd;
}
/* line 257, ../../sass/sp_layout.scss */
.top-nav-inbody-group a,
.footer-nav-group a {
  padding: 14px 10px 12px;
  display: block;
}

/* line 266, ../../sass/sp_layout.scss */
.android .top-nav-inbody-group li,
.android .footer-nav-group li {
  width: 49.99999%;
}

/* ------------------------------------------------------ */
/* line 274, ../../sass/sp_layout.scss */
.footer-group {
  padding: 45px 20px;
  /* .address-group */
  /* .link-group */
}
/* line 277, ../../sass/sp_layout.scss */
.footer-group .wrap {
  text-align: center;
}
/* line 281, ../../sass/sp_layout.scss */
.footer-group .address-group {
  margin-bottom: 40px;
  /* .logo */
  /* p */
}
/* line 284, ../../sass/sp_layout.scss */
.footer-group .address-group .logo {
  background-image: url(/images/footer/sp_logo.png);
  width: 77px;
  height: 21px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 284, ../../sass/sp_layout.scss */
  .footer-group .address-group .logo {
    background-image: url(/images/footer/sp_logo_2x.png);
    background-size: 77px 21px;
    -webkit-background-size: 77px 21px;
  }
}
/* line 296, ../../sass/sp_layout.scss */
.footer-group .address-group p {
  margin-top: 30px;
  margin-left: 0;
  padding-top: 0;
  font-size: 12px;
  display: block;
}
/* line 303, ../../sass/sp_layout.scss */
.footer-group .address-group p * + * {
  margin-left: 0;
}
/* line 307, ../../sass/sp_layout.scss */
.footer-group .address-group p .tel {
  margin-left: 15px;
}
/* line 311, ../../sass/sp_layout.scss */
.footer-group .address-group p .address {
  margin-top: 30px;
  display: block;
}
/* line 319, ../../sass/sp_layout.scss */
.footer-group .link-group {
  display: none;
}
/* line 323, ../../sass/sp_layout.scss */
.footer-group .copyright {
  font-size: 12px;
  float: none;
}

/* .footer-group  */
/* ------------------------------------------------------ */
/* line 331, ../../sass/sp_layout.scss */
.header-group {
  padding-top: 15px;
  height: 50px;
  font-size: 0;
}
/* line 336, ../../sass/sp_layout.scss */
.header-group .wrap {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 341, ../../sass/sp_layout.scss */
.header-group .logo {
  background-image: url(/images/common/header/sp_logo.png);
  margin-top: 0;
  width: 60px;
  height: 17px;
  float: left;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 341, ../../sass/sp_layout.scss */
  .header-group .logo {
    background-image: url(/images/common/header/sp_logo_2x.png);
    background-size: 60px 17px;
    -webkit-background-size: 60px 17px;
  }
}
/* line 355, ../../sass/sp_layout.scss */
.header-group .logo-aside {
  margin: 3px 0 0 10px;
  font-size: 12px;
}
/* line 360, ../../sass/sp_layout.scss */
.header-group .logo-text {
  margin: 3px 0 0 0;
  font-size: 12px;
}
/* line 365, ../../sass/sp_layout.scss */
.header-group .logo-bywacul {
  background-image: url(/images/common/header/logo_bywacul.png);
  margin-top: 6px;
  width: 47px;
  height: 12px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 365, ../../sass/sp_layout.scss */
  .header-group .logo-bywacul {
    background-image: url(/images/common/header/logo_bywacul_2x.png);
    background-size: 47px 12px;
    -webkit-background-size: 47px 12px;
  }
}
/* line 378, ../../sass/sp_layout.scss */
.header-group .link-group {
  display: none;
}
/* line 382, ../../sass/sp_layout.scss */
.header-group .menu {
  margin-top: 4px;
  width: 15px;
  height: 14px;
  display: block;
  float: right;
}

/* .header-group */
/* ------------------------------------------------------ */
/* line 393, ../../sass/sp_layout.scss */
.sp-header-menu-group {
  background: url(/images/common/modal_bg.png) repeat 0 0;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 10;
}
/* line 404, ../../sass/sp_layout.scss */
.sp-header-menu-group ul, .sp-header-menu-group li, .sp-header-menu-group a {
  background: #fff;
  text-align: left;
  display: block;
}
/* line 410, ../../sass/sp_layout.scss */
.sp-header-menu-group li {
  border-top: solid 1px #ddd;
}
/* line 414, ../../sass/sp_layout.scss */
.sp-header-menu-group li.open .icon.plus {
  background-position: -158px -8px;
  width: 9px;
  height: 9x;
}
/* line 420, ../../sass/sp_layout.scss */
.sp-header-menu-group a {
  padding: 13px 20px 11px;
  position: relative;
  overflow: hidden;
}
/* line 426, ../../sass/sp_layout.scss */
.sp-header-menu-group .slave {
  background: #f4f4f4;
  display: none;
}
/* line 430, ../../sass/sp_layout.scss */
.sp-header-menu-group .slave li, .sp-header-menu-group .slave a {
  background-color: #f4f4f4;
}
/* line 435, ../../sass/sp_layout.scss */
.sp-header-menu-group .icon {
  position: absolute;
  top: 50%;
  right: 20px;
}
/* line 440, ../../sass/sp_layout.scss */
.sp-header-menu-group .icon.arrow-next {
  margin-top: -4px;
}
/* line 443, ../../sass/sp_layout.scss */
.sp-header-menu-group .icon.plus {
  right: 18px;
  margin-top: -4px;
}

/* .sp-header-menu-group */
/* ------------------------------------------------------ */
/* line 452, ../../sass/sp_layout.scss */
a.link-pagetop {
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
}
/* line 459, ../../sass/sp_layout.scss */
a.link-pagetop .icon {
  margin: -4px 0 0 -7px;
}

/* ------------------------------------------------------ */
/* line 466, ../../sass/sp_layout.scss */
.mainvisual-group {
  background-image: url(/image/sp_mainvisual_bg.jpg);
  margin-bottom: 0;
  height: 185px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 466, ../../sass/sp_layout.scss */
  .mainvisual-group {
    background-image: url(/image/mainvisual_bg.jpg);
    background-size: auto 185px;
    -webkit-background-size: auto 185px;
  }
}
/* line 477, ../../sass/sp_layout.scss */
.mainvisual-group video {
  width: 700px;
  height: 185px;
  margin-left: -350px;
  display: none;
}
/* line 484, ../../sass/sp_layout.scss */
.mainvisual-group .wrap {
  height: 185px;
  display: table;
}
/* line 489, ../../sass/sp_layout.scss */
.mainvisual-group .h1-group {
  padding-left: 20px;
  padding-right: 20px;
  height: 185px;
  font-size: 18px;
  vertical-align: middle;
  display: table-cell;
}
/* line 498, ../../sass/sp_layout.scss */
.mainvisual-group h1 {
  font-size: 18px;
  line-height: normal;
  text-align: center;
}

/* ------------------------------------------------------ */
/* line 507, ../../sass/sp_layout.scss */
.body-group {
  padding-bottom: 30px;
}

/* line 512, ../../sass/sp_layout.scss */
.section-master-group + .section-master-group {
  margin-top: 30px;
}

/* line 517, ../../sass/sp_layout.scss */
.section-group {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 521, ../../sass/sp_layout.scss */
.section-group + .section-group {
  margin-top: 20px;
}
/* line 523, ../../sass/sp_layout.scss */
.section-group + .section-group.h3 {
  margin-top: 20px;
}

/* line 530, ../../sass/sp_layout.scss */
.section + .section {
  margin-top: 10px;
}
/* line 532, ../../sass/sp_layout.scss */
.section + .section.add-group {
  margin-top: 0;
}

/* line 539, ../../sass/sp_layout.scss */
.content-body-group {
  border-top: solid 1px #ddd;
  margin-top: 0;
  padding-top: 30px;
}

/* .content-body-group */
/* line 544, ../../sass/sp_layout.scss */
.content-main-group {
  width: 100%;
  float: none;
}

/* .content-main-group */
/* line 548, ../../sass/sp_layout.scss */
.content-nav-wrap {
  display: none;
}

/* .content-nav-wrap */
/* ------------------------------------------------------ */
/* line 559, ../../sass/sp_layout.scss */
h1.basic {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
}
/* line 562, ../../sass/sp_layout.scss */
h1.basic .aside {
  font-size: 14px;
}
/* line 565, ../../sass/sp_layout.scss */
h1.basic .line {
  display: block;
}
/* line 569, ../../sass/sp_layout.scss */
h1.basic + .section-master-group {
  margin-top: 30px;
}

/* line 586, ../../sass/sp_layout.scss */
h2.basic {
  background-color: #f4f4f4;
  margin-bottom: 30px;
  padding: 25px 20px 23px;
  font-size: 18px;
}
/* line 580, ../../sass/sp_layout.scss */
h2.basic:after {
  width: 45px;
  left: 20px;
  bottom: 0;
}

/* line 593, ../../sass/sp_layout.scss */
h3.basic {
  font-size: 16px;
}

/* ------------------------------------------------------ */
/* line 599, ../../sass/sp_layout.scss */
.top-service-list-group {
  /* li */
  /* a */
}
/* line 600, ../../sass/sp_layout.scss */
.top-service-list-group li, .top-service-list-group a {
  width: 100%;
}
/* line 604, ../../sass/sp_layout.scss */
.top-service-list-group li {
  border-style: none none solid;
  width: 100%;
  text-align: left;
  float: none;
}
/* line 610, ../../sass/sp_layout.scss */
.top-service-list-group li.last {
  width: 100%;
}
/* line 615, ../../sass/sp_layout.scss */
.top-service-list-group a {
  padding: 20px;
  position: relative;
  overflow: hidden;
}
/* line 620, ../../sass/sp_layout.scss */
.top-service-list-group a h2 {
  margin-left: 47px;
  margin-right: 38px;
  font-size: 14px;
}
/* line 626, ../../sass/sp_layout.scss */
.top-service-list-group a .comment-group {
  margin-left: 47px;
  margin-right: 38px;
  margin-top: 3px;
  font-size: 12px;
}
/* line 633, ../../sass/sp_layout.scss */
.top-service-list-group a .pic-group {
  margin-top: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -16px;
}
/* line 642, ../../sass/sp_layout.scss */
.top-service-list-group a .pic-group img {
  width: 32px;
  height: 32px;
}
/* line 648, ../../sass/sp_layout.scss */
.top-service-list-group a .icon.arrow-next {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -4px;
  display: block;
}

/* .top-service-list-group */
/* ------------------------------------------------------ */
/* line 660, ../../sass/sp_layout.scss */
.top-information-group {
  /* li */
  /* .cell-group */
}
/* line 661, ../../sass/sp_layout.scss */
.top-information-group h2 {
  background-color: #f4f4f4;
  margin-bottom: 25px;
  padding: 25px 20px 23px;
  font-size: 18px;
}
/* line 667, ../../sass/sp_layout.scss */
.top-information-group h2:after {
  width: 45px;
  left: 20px;
  bottom: 0;
}
/* line 674, ../../sass/sp_layout.scss */
.top-information-group ul {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 680, ../../sass/sp_layout.scss */
.top-information-group li a {
  padding: 18px 18px 18px 0;
}
/* line 684, ../../sass/sp_layout.scss */
.top-information-group li .icon {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -4px;
}
/* line 691, ../../sass/sp_layout.scss */
.top-information-group li .comment {
  margin-top: 0;
}
/* line 696, ../../sass/sp_layout.scss */
.top-information-group .cell-group {
  width: 100%;
  float: none;
}
/* line 700, ../../sass/sp_layout.scss */
.top-information-group .cell-group + .cell-group {
  margin-top: 45px;
  float: none;
}

/* .top-information-group */
/* line 708, ../../sass/sp_layout.scss */
.pankuzu-group {
  display: none;
}

/* ------------------------------------------------------ */
/* line 714, ../../sass/sp_layout.scss */
.pic-text-group {
  /* .pic-group */
  /* .text-group */
}
/* line 715, ../../sass/sp_layout.scss */
.pic-text-group .pic-group {
  width: 75px;
  height: 75px;
}
/* line 719, ../../sass/sp_layout.scss */
.pic-text-group .pic-group img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
/* line 726, ../../sass/sp_layout.scss */
.pic-text-group .text-group {
  margin: -75px 0 0 90px;
  min-height: 75px;
  height: auto !important;
  height: 75px;
}

/* .pic-text-group */
/* ------------------------------------------------------ */
/* line 737, ../../sass/sp_layout.scss */
.faq-group .question-group + .answer-group {
  margin-top: 10px;
}
/* line 743, ../../sass/sp_layout.scss */
.faq-group .question-group .mkr-group,
.faq-group .answer-group .mkr-group {
  width: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
}
/* line 749, ../../sass/sp_layout.scss */
.faq-group .question-group .text-group,
.faq-group .answer-group .text-group {
  margin: -25px 0 0 40px;
  padding-top: 3px;
  min-height: 25px;
  height: auto !important;
  height: 25px;
}
/* line 759, ../../sass/sp_layout.scss */
.faq-group .question-group .mkr-group {
  line-height: 23px;
}

/* .faq-group */
/* ------------------------------------------------------ */
/* line 767, ../../sass/sp_layout.scss */
.conversion-group {
  padding: 20px;
}
/* line 770, ../../sass/sp_layout.scss */
.conversion-group .read {
  margin-bottom: 10px;
  text-align: left;
}
/* line 775, ../../sass/sp_layout.scss */
.conversion-group .aside {
  margin-top: -8px;
  margin-bottom: 10px;
  text-align: left;
}
/* line 781, ../../sass/sp_layout.scss */
.conversion-group .btn {
  width: 100%;
}

/* ------------------------------------------------------ */
/* line 789, ../../sass/sp_layout.scss */
.cell3-group,
.cell4-group {
  display: block;
}
/* line 792, ../../sass/sp_layout.scss */
.cell3-group li,
.cell4-group li {
  text-align: center;
  width: 100%;
  display: block;
}
/* line 797, ../../sass/sp_layout.scss */
.cell3-group li + li,
.cell4-group li + li {
  border-top: solid 1px #ddd;
  border-left: none;
}
/* line 802, ../../sass/sp_layout.scss */
.cell3-group li .inner,
.cell4-group li .inner {
  padding: 15px 10px 13px;
  width: 100%;
}
/* line 807, ../../sass/sp_layout.scss */
.cell3-group li .inner:after, .cell3-group li .inner:before,
.cell4-group li .inner:after,
.cell4-group li .inner:before {
  display: none;
}
/* line 812, ../../sass/sp_layout.scss */
.cell3-group li .group,
.cell4-group li .group {
  font-size: 0;
  text-align: center;
  display: block;
}
/* line 817, ../../sass/sp_layout.scss */
.cell3-group li .group .title, .cell3-group li .group .aside,
.cell4-group li .group .title,
.cell4-group li .group .aside {
  text-align: left;
  vertical-align: middle;
  display: inline;
}
/* line 823, ../../sass/sp_layout.scss */
.cell3-group li .group .title,
.cell4-group li .group .title {
  font-size: 16px;
  font-weight: bold;
}
/* line 827, ../../sass/sp_layout.scss */
.cell3-group li .group .aside,
.cell4-group li .group .aside {
  margin-top: 0;
  margin-left: 10px;
  font-size: 14px;
}

/* line 837, ../../sass/sp_layout.scss */
.cell4-group li {
  width: 100%;
}
/* line 840, ../../sass/sp_layout.scss */
.cell4-group li .inner {
  padding-left: 0;
  padding-right: 0;
}
/* line 845, ../../sass/sp_layout.scss */
.cell4-group li .group {
  width: 100%;
  display: table;
}
/* line 849, ../../sass/sp_layout.scss */
.cell4-group li .group .pic, .cell4-group li .group .text-group, .cell4-group li .group .user, .cell4-group li .group .cv {
  margin: 0;
  padding: 0;
  text-align: left;
}
/* line 854, ../../sass/sp_layout.scss */
.cell4-group li .group .pic, .cell4-group li .group .text-group {
  vertical-align: middle;
  display: table-cell;
}
/* line 858, ../../sass/sp_layout.scss */
.cell4-group li .group .pic {
  width: 115px;
}
/* line 860, ../../sass/sp_layout.scss */
.cell4-group li .group .pic img {
  max-width: 100px;
}
/* line 864, ../../sass/sp_layout.scss */
.cell4-group li .group .text-group {
  border-left: solid 1px #ddd;
  padding-left: 15px;
}
/* line 868, ../../sass/sp_layout.scss */
.cell4-group li .group .user, .cell4-group li .group .cv {
  font-size: 14px;
}

/* ------------------------------------------------------ */
/* line 883, ../../sass/sp_layout.scss */
.clum2-group .add-next-arrow:after {
  background-image: url(/images/common/sp_icons.png);
  background-position: -282px -9px;
  width: 12px;
  height: 7px;
  content: "";
  top: 0px;
  left: 50%;
  margin-top: -17px;
  margin-left: -6px;
  display: block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 883, ../../sass/sp_layout.scss */
  .clum2-group .add-next-arrow:after {
    background-image: url(/images/common/icons.png);
    background-size: auto 25px;
    -webkit-background-size: auto 25px;
  }
}
/* line 896, ../../sass/sp_layout.scss */
.clum2-group .cell-group {
  width: auto;
  float: none;
}
/* line 900, ../../sass/sp_layout.scss */
.clum2-group .cell-group + .cell-group {
  margin-top: 20px;
  float: none;
}
/* line 903, ../../sass/sp_layout.scss */
.clum2-group .cell-group + .cell-group.add-next-arrow {
  margin-top: 27px;
}

/* ------------------------------------------------------ */
/* line 912, ../../sass/sp_layout.scss */
.line-flow-group {
  border-style: solid none;
  border-width: 1px;
  border-color: #ddd;
  font-size: 0;
  display: block;
}
/* line 919, ../../sass/sp_layout.scss */
.line-flow-group li {
  margin: 0;
  padding: 16px 0 14px;
  font-size: 16px;
  width: auto;
  display: block;
}
/* line 926, ../../sass/sp_layout.scss */
.line-flow-group li + li {
  margin-top: 7px;
}
/* line 929, ../../sass/sp_layout.scss */
.line-flow-group li + li:after {
  background-image: url(/images/common/sp_icons.png);
  background-position: -282px -9px;
  width: 12px;
  height: 7px;
  content: "";
  top: 0px;
  left: 50%;
  margin: -7px 0 0 -6px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 929, ../../sass/sp_layout.scss */
  .line-flow-group li + li:after {
    background-image: url(/images/common/icons.png);
    background-size: auto 25px;
    -webkit-background-size: auto 25px;
  }
}

/* ------------------------------------------------------ */
/* line 944, ../../sass/sp_layout.scss */
.step-flow-group {
  border-bottom: none;
  width: auto;
  display: block;
}
/* line 949, ../../sass/sp_layout.scss */
.step-flow-group .cell-group {
  display: block;
}
/* line 952, ../../sass/sp_layout.scss */
.step-flow-group .cell-group + .cell-group {
  margin-top: 15px;
}
/* line 957, ../../sass/sp_layout.scss */
.step-flow-group .cell-group .cell-num,
.step-flow-group .cell-group .cell-text {
  border-style: solid none solid none;
  padding: 0;
  display: block;
}
/* line 962, ../../sass/sp_layout.scss */
.step-flow-group .cell-group .cell-num .inner,
.step-flow-group .cell-group .cell-text .inner {
  padding: 15px 0;
  font-size: 14px;
  display: block;
}
/* line 968, ../../sass/sp_layout.scss */
.step-flow-group .cell-group .cell-num.add-updown:after,
.step-flow-group .cell-group .cell-text.add-updown:after {
  content: "";
  top: -26px;
  left: 50%;
  margin-left: -18.5px;
}
/* line 975, ../../sass/sp_layout.scss */
.step-flow-group .cell-group .cell-num {
  width: auto;
}
/* line 977, ../../sass/sp_layout.scss */
.step-flow-group .cell-group .cell-num .inner {
  font-size: 16px;
  line-height: normal;
}
/* line 981, ../../sass/sp_layout.scss */
.step-flow-group .cell-group .cell-num .text, .step-flow-group .cell-group .cell-num .num {
  vertical-align: baseline;
}
/* line 984, ../../sass/sp_layout.scss */
.step-flow-group .cell-group .cell-num .text {
  margin-right: 10px;
  font-size: 12px;
  line-height: 18px;
}
/* line 989, ../../sass/sp_layout.scss */
.step-flow-group .cell-group .cell-num p.step {
  position: absolute;
  display: block;
}
/* line 993, ../../sass/sp_layout.scss */
.step-flow-group .cell-group .cell-num p.h3 {
  margin: 0 0 0 65px;
  font-weight: bold;
  display: block;
}
/* line 998, ../../sass/sp_layout.scss */
.step-flow-group .cell-group .cell-num + .cell-text {
  border-top: none;
}
/* line 1003, ../../sass/sp_layout.scss */
.step-flow-group .cell-group .cell-text .inner {
  padding-right: 0;
}
/* line 1006, ../../sass/sp_layout.scss */
.step-flow-group .cell-group .cell-text .inner:after, .step-flow-group .cell-group .cell-text .inner:before {
  display: none;
}

/* line 1014, ../../sass/sp_layout.scss */
.android .step-flow-group .cell-group .cell-text h3 {
  /* -21
  */
}

/* line 1021, ../../sass/sp_layout.scss */
.iphone .step-flow-group .cell-group .cell-text h3,
.ipad .step-flow-group .cell-group .cell-text h3,
.ipod .step-flow-group .cell-group .cell-text h3 {
  /* -28 */
}

/* line 1026, ../../sass/sp_layout.scss */
.step-flow-aside-group {
  border-top: solid 1px #ddd;
  margin-top: 15px;
  padding: 15px 0;
}

/* ------------------------------------------------------ */
/* line 1035, ../../sass/sp_layout.scss */
.text-pic-215-group .pic-group {
  width: auto;
  text-align: center;
  float: none;
}
/* line 1040, ../../sass/sp_layout.scss */
.text-pic-215-group .text-group {
  margin: 15px 0 0;
  min-height: 10px;
  height: auto;
}

/* ------------------------------------------------------ */
/* line 1050, ../../sass/sp_layout.scss */
.form-read-group .title {
  font-size: 24px;
}
/* line 1052, ../../sass/sp_layout.scss */
.form-read-group .title + .catchcopy-group {
  margin-top: 30px;
}
/* line 1056, ../../sass/sp_layout.scss */
.form-read-group .catchcopy-group {
  padding: 25px;
  font-size: 18px;
  text-align: left;
}
/* line 1062, ../../sass/sp_layout.scss */
.form-read-group .catchcopy-group:before, .form-read-group .catchcopy-group:after {
  width: 90%;
  left: 5%;
}

/* access
--------------------------------------------------------- */
/* line 1073, ../../sass/sp_layout.scss */
.access p.map {
  margin-left: 20px;
  margin-right: 20px;
}
/* line 1077, ../../sass/sp_layout.scss */
.access div.map {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
/* line 1082, ../../sass/sp_layout.scss */
.access div.map iframe {
  height: 250px;
}

/* .blog
--------------------------------------------------------- */
/* line 1096, ../../sass/sp_layout.scss */
.blog .blog-post-group * + p,
.blog .blog-post-group * + img,
.blog .blog-post-group * + ul {
  margin-top: 20px;
}
/* line 1101, ../../sass/sp_layout.scss */
.blog .blog-post-group h1 {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
}
/* line 1104, ../../sass/sp_layout.scss */
.blog .blog-post-group h1 span.post-date {
  font-size: 14px;
  display: block;
}
/* line 1109, ../../sass/sp_layout.scss */
.blog .blog-post-group h1 + * {
  margin-top: 60px;
}
/* line 1113, ../../sass/sp_layout.scss */
.blog .blog-post-group h2 {
  background-color: #f4f4f4;
  margin-bottom: 30px;
  padding: 25px 20px 23px;
  font-size: 18px;
  margin-top: 100px;
}
/* line 580, ../../sass/sp_layout.scss */
.blog .blog-post-group h2:after {
  width: 45px;
  left: 20px;
  bottom: 0;
}
/* line 1117, ../../sass/sp_layout.scss */
.blog .blog-post-group h2:first-child {
  margin-top: 0;
}
/* line 1124, ../../sass/sp_layout.scss */
.blog .blog-post-group h3,
.blog .blog-post-group h4,
.blog .blog-post-group h5,
.blog .blog-post-group h6 {
  font-size: 16px;
  margin-top: 50px;
}
/* line 1128, ../../sass/sp_layout.scss */
.blog .blog-post-group h2 + * {
  margin-top: 0;
}
/* line 1132, ../../sass/sp_layout.scss */
.blog .blog-post-group img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}
/* line 1139, ../../sass/sp_layout.scss */
.blog .blog-post-group ul {
  display: block;
}
/* line 223, ../../sass/sp_layout.scss */
.blog .blog-post-group ul li:before {
  margin-top: 0.55em;
}
/* line 1145, ../../sass/sp_layout.scss */
.blog .social-btn-group {
  border-style: solid none;
  border-width: 1px;
  border-color: #ddd;
  padding: 40px 0;
  font-size: 0;
}
/* line 1152, ../../sass/sp_layout.scss */
.blog .social-btn-group li {
  font-size: 14px;
  line-height: normal;
  vertical-align: top;
  display: inline-block;
}
/* line 1158, ../../sass/sp_layout.scss */
.blog .social-btn-group li + li {
  margin-left: 10px;
}
/* line 1162, ../../sass/sp_layout.scss */
.blog .social-btn-group li .pocket-btn iframe {
  width: 100px;
}
/* line 1169, ../../sass/sp_layout.scss */
.blog .writer-group .pic-group {
  width: 100px;
  height: 100px;
}
/* line 1173, ../../sass/sp_layout.scss */
.blog .writer-group .pic-group img {
  max-width: 100px;
  width: auto;
  height: auto;
}
/* line 1179, ../../sass/sp_layout.scss */
.blog .writer-group .text-group {
  margin: -100px 0 0 120px;
  min-height: 100px;
  height: auto !important;
  height: 100px;
}
/* line 1187, ../../sass/sp_layout.scss */
.blog .writer-group .text-group * + p,
.blog .writer-group .text-group * + ul {
  margin-top: 10px;
}
/* line 1192, ../../sass/sp_layout.scss */
.blog .writer-group .text-group .icon-link-group {
  margin-top: 14px;
  font-size: 0;
  line-height: normal;
  display: block;
}
/* line 1198, ../../sass/sp_layout.scss */
.blog .writer-group .text-group .icon-link-group li {
  display: inline-block;
}
/* line 1205, ../../sass/sp_layout.scss */
.blog .pager-group {
  border-style: solid none;
  border-width: 1px;
  border-color: #ddd;
}
/* line 1210, ../../sass/sp_layout.scss */
.blog .pager-group ul {
  width: 100%;
  display: table;
}
/* line 1214, ../../sass/sp_layout.scss */
.blog .pager-group ul li {
  width: 50%;
  vertical-align: top;
  display: table-cell;
  position: relative;
  overflow: visible;
}
/* line 1221, ../../sass/sp_layout.scss */
.blog .pager-group ul li + li {
  border-left: solid 1px #ddd;
}
/* line 1225, ../../sass/sp_layout.scss */
.blog .pager-group ul li + li:before, .blog .pager-group ul li + li:after {
  content: "";
  background-color: #fff;
  width: 10px;
  height: 19px;
  display: block;
  position: absolute;
  z-index: 0;
}
/* line 1234, ../../sass/sp_layout.scss */
.blog .pager-group ul li + li:before {
  top: 0;
  left: -5px;
}
/* line 1238, ../../sass/sp_layout.scss */
.blog .pager-group ul li + li:after {
  bottom: 0;
  left: -5px;
}
/* line 1244, ../../sass/sp_layout.scss */
.blog .pager-group ul a {
  padding: 30px;
  color: black;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 1;
}
/* line 1252, ../../sass/sp_layout.scss */
.blog .pager-group ul a:hover {
  background-color: #f6f6f6;
}
/* line 1256, ../../sass/sp_layout.scss */
.blog .pager-group ul a span {
  font-size: 12px;
}
/* line 1260, ../../sass/sp_layout.scss */
.blog .pager-group ul a:after {
  background-image: url(/images/common/sp_icons.png);
  background-position: -10px -9px;
  width: 5px;
  height: 8px;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -7px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 1260, ../../sass/sp_layout.scss */
  .blog .pager-group ul a:after {
    background-image: url(/images/common/icons.png);
    background-size: auto 25px;
    -webkit-background-size: auto 25px;
  }
}
/* line 1270, ../../sass/sp_layout.scss */
.blog .pager-group ul li + li a:after {
  background-position: -35px -9px;
  width: 5px;
  height: 8px;
  left: auto;
  right: 0;
}

/* line 1280, ../../sass/sp_layout.scss */
.section-blog-aside-master-group .section-group + .section-group {
  margin-top: 40px;
}

/* .blog
--------------------------------------------------------- */
/* line 1290, ../../sass/sp_layout.scss */
.blog .blog-post-group {
  padding-left: 20px;
  padding-right: 20px;
}
/* line 1297, ../../sass/sp_layout.scss */
.blog .blog-post-group * + p,
.blog .blog-post-group * + img,
.blog .blog-post-group * + ul {
  margin-top: 10px;
}
/* line 1302, ../../sass/sp_layout.scss */
.blog .blog-post-group h1 {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
}
/* line 1305, ../../sass/sp_layout.scss */
.blog .blog-post-group h1 + * {
  margin-top: 30px;
}
/* line 1309, ../../sass/sp_layout.scss */
.blog .blog-post-group h2 {
  background-color: #f4f4f4;
  margin-bottom: 30px;
  padding: 25px 20px 23px;
  font-size: 18px;
  margin-top: 50px;
  margin-left: -20px;
  margin-right: -20px;
}
/* line 580, ../../sass/sp_layout.scss */
.blog .blog-post-group h2:after {
  width: 45px;
  left: 20px;
  bottom: 0;
}
/* line 1315, ../../sass/sp_layout.scss */
.blog .blog-post-group h2:first-child {
  margin-top: 0;
}
/* line 1322, ../../sass/sp_layout.scss */
.blog .blog-post-group h3,
.blog .blog-post-group h4,
.blog .blog-post-group h5,
.blog .blog-post-group h6 {
  font-size: 16px;
  margin-top: 25px;
}
/* line 1326, ../../sass/sp_layout.scss */
.blog .blog-post-group h2 + * {
  margin-top: 0;
}
/* line 1330, ../../sass/sp_layout.scss */
.blog .blog-post-group ul {
  display: block;
}
/* line 223, ../../sass/sp_layout.scss */
.blog .blog-post-group ul li:before {
  margin-top: 0.55em;
}
/* line 1336, ../../sass/sp_layout.scss */
.blog .social-btn-group {
  padding: 30px 20px 16px;
  font-size: 0;
}
/* line 1340, ../../sass/sp_layout.scss */
.blog .social-btn-group ul {
  font-size: 0;
}
/* line 1344, ../../sass/sp_layout.scss */
.blog .social-btn-group li {
  margin: 0 10px 10px 0 !important;
}
/* line 1350, ../../sass/sp_layout.scss */
.blog .writer-group .pic-group {
  width: 50px;
  height: 50px;
}
/* line 1354, ../../sass/sp_layout.scss */
.blog .writer-group .pic-group img {
  width: 50px;
  height: 50px;
}
/* line 1359, ../../sass/sp_layout.scss */
.blog .writer-group h3 {
  font-size: 16px;
  margin: -50px 0 0 65px;
  min-height: 50px;
  height: auto !important;
  height: 50px;
  display: table;
}
/* line 1367, ../../sass/sp_layout.scss */
.blog .writer-group h3 > span {
  height: 50px;
  vertical-align: middle;
  display: table-cell;
}
/* line 1372, ../../sass/sp_layout.scss */
.blog .writer-group h3 > span > span {
  display: block;
}
/* line 1377, ../../sass/sp_layout.scss */
.blog .writer-group h3 .aside {
  margin-right: 0;
  font-size: 14px;
}
/* line 1382, ../../sass/sp_layout.scss */
.blog .writer-group .text-group {
  margin: 11px 0 0 0;
  min-height: 10px;
  height: auto !important;
  height: auto;
}
/* line 1390, ../../sass/sp_layout.scss */
.blog .writer-group .text-group * + p,
.blog .writer-group .text-group * + ul {
  margin-top: 5px;
}
/* line 1395, ../../sass/sp_layout.scss */
.blog .writer-group .text-group .icon-link-group {
  margin-top: 10px;
}
/* line 1401, ../../sass/sp_layout.scss */
.blog .pager-group {
  padding-left: 0;
  padding-right: 0;
}
/* line 1409, ../../sass/sp_layout.scss */
.blog .pager-group ul li + li:before, .blog .pager-group ul li + li:after {
  height: 9px;
}
/* line 1414, ../../sass/sp_layout.scss */
.blog .pager-group ul a {
  padding: 15px 15px 15px 25px;
}
/* line 1417, ../../sass/sp_layout.scss */
.blog .pager-group ul a:after {
  background-image: url(/images/common/sp_icons.png);
  background-position: -10px -9px;
  width: 5px;
  height: 8px;
  margin-top: -4px;
  left: 10px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 1417, ../../sass/sp_layout.scss */
  .blog .pager-group ul a:after {
    background-image: url(/images/common/icons.png);
    background-size: auto 25px;
    -webkit-background-size: auto 25px;
  }
}
/* line 1425, ../../sass/sp_layout.scss */
.blog .pager-group ul li + li a {
  padding-left: 15px;
  padding-right: 25px;
}
/* line 1429, ../../sass/sp_layout.scss */
.blog .pager-group ul li + li a:after {
  background-position: -35px -9px;
  width: 5px;
  height: 8px;
  right: 10px;
}
/* line 1438, ../../sass/sp_layout.scss */
.blog .content-nav-wrap {
  width: auto;
  display: none;
  float: none;
}
/* line 1444, ../../sass/sp_layout.scss */
.blog .content-nav-group .btn {
  display: none;
}
/* line 1448, ../../sass/sp_layout.scss */
.blog .content-nav-group .link-group {
  margin-top: 0;
}
/* line 1451, ../../sass/sp_layout.scss */
.blog .content-nav-group .link-group li {
  display: none;
}
/* line 1454, ../../sass/sp_layout.scss */
.blog .content-nav-group .link-group li:first-child {
  border-top: none;
}
/* line 1462, ../../sass/sp_layout.scss */
.blog .content-nav-group .link-group li:nth-child(1), .blog .content-nav-group .link-group li:nth-child(2), .blog .content-nav-group .link-group li:nth-child(3), .blog .content-nav-group .link-group li:nth-child(4), .blog .content-nav-group .link-group li:nth-child(5) {
  display: block;
}
/* line 1467, ../../sass/sp_layout.scss */
.blog .content-nav-group .link-group a {
  padding: 15px 25px 15px 20px;
}
/* line 1471, ../../sass/sp_layout.scss */
.blog .content-nav-group .link-group .icon {
  right: 10px;
  margin-top: -4px;
}

/* line 1480, ../../sass/sp_layout.scss */
.section-blog-aside-master-group .section-group + .section-group {
  margin-top: 30px;
}

/* ------------------------------------------------------ */
